DEBUG = True
DB_HOST = localhost
DB_NAME = pagos
DB_USER = postgres
DB_PASSWORD = 12345678
DB_PORT = 5432
SECRET_KEY = secret
DROP_DB = False
#CORS
ALLOWED_ORIGINS = 'http://localhost:3000'
#Twilio
TWILIO_SID = ''
TWILIO_TOKEN = ''
TWILIO_PHONE = ""
#Email
MAIL_SERVER= 'smtp.gmail.com'
MAIL_PORT = 587
MAIL_USERNAME = 'ejemplo@gmail.com'
MAIL_PASSWORD = 'ejemplo'
MAIL_USE_TLS = True
MAIL_USE_SSL = False
MAIL_DEBUG = True
#Bitpay
BITPAY_HOST = "https://test.bitpay.com"
BITPAY_PAIR_CODE = "m4XStcR"


DEBUG = True
DB_HOST = tiny.db.elephantsql.com
DB_NAME = vcnlcyic
DB_USER = vcnlcyic
DB_PASSWORD = R5AThnmVmJtfhGIuZ_jJmqTRl2t6Vcu4
DB_PORT = 5432
SECRET_KEY = secret
DROP_DB = False